@model DataProtectModel
@{ 
    ViewData["Title"] = "Data Protection";
}

<h1>@ViewData["Title"]</h1>

<h3>Source: @Model.Source</h3>
<h3>Protected: @Model.Protected</h3>
<h3>UnProtected: @Model.UnProtected</h3>